In [1]:
from sklearn import preprocessing
import numpy as np

In [2]:
x=np.array([[-400],
            [-100],
            [0],
            [100],
            [400]])

## **Create A Scaler**

In [3]:
minmaxscaler=preprocessing.MinMaxScaler(feature_range=(0,1))
x_scaler=minmaxscaler.fit_transform(x)
print(x_scaler)

[[0.   ]
 [0.375]
 [0.5  ]
 [0.625]
 [1.   ]]

## **Applying it to 3*3 matrix**

In [7]:
x1=np.array([[1,2,3],
             [4,5,6],
             [7,8,9]])

In [11]:
minmaxscaler1=preprocessing.MinMaxScaler(feature_range=(0,1))
x_scaler1=minmaxscaler.fit_transform(x1)
print(x_scaler1)

[[0.  0.  0. ]
 [0.5 0.5 0.5]
 [1.  1.  1. ]]

### **Applying it to pandas DataSet**

In [12]:
import pandas as pd

In [13]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [14]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [15]:
from google.colab import files
uploaded=files.upload()

Saving diabetes.csv to diabetes.csv

In [16]:
dataset=pd.read_csv('diabetes.csv')

In [17]:
dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [20]:
features=dataset.iloc[0:4,0:3]

In [21]:
features

   Pregnancies  Glucose  BloodPressure
0            6      148             72
1            1       85             66
2            8      183             64
3            1       89             66

In [22]:
minmaxscaler_as=preprocessing.MinMaxScaler(feature_range=(0,1))

In [23]:
feature_scale=minmaxscaler_as.fit_transform(features)

In [24]:
feature_scale

array([[0.71428571, 0.64285714, 1.        ],
       [0.        , 0.        , 0.25      ],
       [1.        , 1.        , 0.        ],
       [0.        , 0.04081633, 0.25      ]])